<ion-card *ngIf="listMode === 'reorder'">
  <ion-card-content>
    <ion-label class="ion-text-center">
      <p><strong>Route Details:</strong> {{routeDistance}} mi | {{routeTime}} min</p>
    </ion-label>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="listMode === 'navigate'" class="root-component">
  <ion-card-content>
    <ion-item [ngSwitch]="navigationStage" lines="full">
      <ion-grid *ngSwitchCase="0" fixed>
        <ion-row>
          <ion-col size="12">
            <!-- Order Details -->
            <ion-label>
              <h1 class="ion-text-wrap"><b>{{businessName}}</b></h1>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngSwitchCase="1" fixed>
        <ion-row>
            <h1 [innerHTML]="navigationInstructions"
            style="text-align: center;"></h1>
        </ion-row>
      </ion-grid>
      <ion-grid *ngSwitchCase="2" fixed>
        <ion-row>
          <ion-col size="10">
            <!-- Order Details -->
            <ion-label>
              <h1 class="ion-text-wrap"><b>{{ordersList[currentOrder]['business']['name']}}</b></h1>
                <div *ngIf="ordersList[currentOrder]['orderData']['hasMerch']">
                  <!-- Payment Type -->
                  <div *ngIf="ordersList[currentOrder]['orderData']['paymentType'] === 'cod'" class="app-details">
                    <ion-icon name="cash-outline" style="color: green;"></ion-icon>
                    <h2>Request check or cash</h2>
                  </div>
                  <!-- Boxes -->
                  <div class="app-details">
                    <ion-icon name="cube-outline" style="color: brown;"></ion-icon>
                    <h2>{{ordersList[currentOrder]['orderData']['hasMerch']['boxes']}} boxes to drop off</h2>
                  </div>
                </div>
                <!-- Pick Ups -->
                <div *ngIf="ordersList[currentOrder]['orderData']['pickUps']" class="app-details">
                  <ion-icon name="document-outline" class="app-nav-icon"></ion-icon>
                  <h2>Customer Care required</h2>
                </div>
                <!-- Posters -->
                <div *ngIf="ordersList[currentOrder]['orderData']['posters']" class="app-details">
                  <ion-icon name="mail-outline" class="app-nav-icon"></ion-icon>
                  <h2>Has envelope of/or posters</h2>
                </div>
            </ion-label>
          </ion-col>
          <ion-col 
            *ngIf="confirmationRequired" 
            size="2" class="ion-no-padding app-confirm app-confirm">
            <ion-button (click)="completeOrder()" expand="block" shape="round">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngSwitchCase="3" fixed>
        <ion-row><!-- Blank placeholder to prevent showing default case --></ion-row>
      </ion-grid>
      
      <ion-grid *ngSwitchDefault fixed>
        <ion-row>
          <h2 style="text-align: start; font-size: 20px; display: flex; flex-flow: row;">
            <ion-icon name="alert-circle-outline" style="color: orange; width: 42px; height: 42px; margin-right: 16px;"></ion-icon>
             Unknown data rendering type hit!
          </h2>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid style="padding-bottom: 0;" fixed>
        <ion-row>
          <ion-col size="6" style="padding-bottom: 0;">
            <ion-label class="ion-text-center">
              <p><strong>Route Remained</strong></p>

              <p>{{routeDistance}} mi | {{routeTime}} min <br> {{routeHour | date:'shortTime'}}</p>
            </ion-label>
          </ion-col>
          <ion-col size="6" style="padding-bottom: 0;">
            <ion-label class="ion-text-center">
              <p><strong>To Next Stop</strong></p>

              <p>{{nextDistance}} mi | {{nextTime}} min <br> {{nextHour | date:'shortTime'}}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card-content>
</ion-card>