ion-card.root-component {
    position: fixed;
    z-index: 200;
    bottom: 20px;
    width: calc(100vw - 40px);
    margin: 0 20px;
}

div.app-details {
    display: flex; 
    align-content: center;
}

.app-details > ion-icon {
    width: 24px;
    height: 24px;

    margin: 0 4px;
}

ion-col.app-confirm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app-confirm > ion-button {
    width: 48px;
    height: 48px;
}

.app-confirm > ion-button > ion-icon {
    width: 48px;
    height: 48px;
    
    --ionicon-stroke-width: 3em;
}