ion-list.matching-businesses-list {
    height: auto;

    width: calc(100% - 32px);
    margin: -4px 16px 4px 16px;
    border: 1px solid;
    border-radius: 0 0 8px 8px;
    border-top: none;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    box-shadow: 
        rgb(0 0 0 / 20%) 0px 3px 1px -2px,
        rgb(0 0 0 / 14%) 0px 2px 2px 0px,
        rgb(0 0 0 / 12%) 0px 1px 5px 0px;

    transition: max-height 1s ease 0s;
}