<ion-list class="matching-businesses-list">
  <ion-item *ngFor="let match of matchingBusinesses; let i = index" 
  class="matching-businesses-item"
  [lines]="i < (matchingBusinesses.length - 1) ? 'full' : 'none'"
  button="true"
  (click)="businessClicked(i)">
    <ion-label>
      <h2><b>{{match["business"]["name"]}}</b></h2>
      <small *ngIf="match['business']['address2'].length < 1">
        {{match["business"]["address"]}},
      </small>
      <small *ngIf="match['business']['address2'].length > 0">
        {{match["business"]["address"]}}, {{match["business"]["address2"]}},
      </small>

      <br/>

      <small>{{match["business"]["city"]}}, {{match["business"]["state"]}}, {{match["business"]["zip"]}}</small>
    </ion-label>
  </ion-item>
</ion-list>