<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Changes in this update</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Page Contents-->
<ion-content>
  <div class="ion-padding">
    <p>Welcome to the internal testing team of this app {{firstName}}!</p>
    <p>You'll see this page every time your app is updated to a new version. This page will list all of the bug fixes, changes, and new features that have been added to the app.</p>
    
    <!--<h3><b>App Core:</b></h3>
    <ul>
      <li></li>
    </ul>-->

    <h3><b>Login Page:</b></h3>
    <ul>
      <li>Enlarged password visibility toggle</li>
      <li>Show biometric unlock button if user has biometrics enabled</li>
      <li>Show password input or biometric unlock button if there is a stored auth token</li>
      <li>Biometrics plugin errors are now handled</li>
    </ul>

    <h3><b>Delivery Page:</b></h3>
    <ul>
      <li>Added card to show route details while in reordering mode</li>
    </ul>

    <!--<h3><b>Mapbox Component:</b></h3>
    <ul>
      <li></li>
    </ul>-->

    <h3><b>Orders Card Component:</b></h3>
    <ul>
      <li>Fixed order validator result not propagating immediately</li>
    </ul>

    <h3><b>Manual Entry Modal:</b></h3>
    <ul>
      <li>Renamed "Pick Ups" to "Customer Care"</li>
      <li>Added valves tally</li>
      <li>Newly added business now get added to the map</li>
    </ul>

    <!--<h3><b>Feedback Modal:</b></h3>
    <ul>
      <li></li>
    </ul>-->

    <!--<h3><b>Un-categorizable:</b></h3>
    <ul>
      <li></li>
    </ul>-->
  </div>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-justify-content-center" style="display: flex;">
          <!-- Button: Continue -->
          <ion-button  (click)="routeToDelivery()" type="submit">
            Continue
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>