<ion-card>
  <ion-card-content>
    <div *ngIf="ordersList.length < 1" class="ion-text-center">
      <h1>No orders to show</h1>
    </div>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="{{reorderDisabled}}">
        <ion-item-sliding 
          *ngFor="let order of ordersList; let i=index"
          (ionDrag)="showOrderContentsHeight[i] = false; showOrderContentsDisplay[i] = false;"
          disabled="{{modifyDisabled}}">
          <!-- Modify Order -->
          <ion-item-options side="start">
            <ion-item-option (click)="modifyOrderEntry(i)" color="primary">
              <ion-icon name="create-outline" size="large"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <!-- Order -->
          <ion-item (click)="pressedOrderEntry(i)">
            <!-- Order Details -->
            <ion-label>
              <h1 class="ion-text-wrap">{{i + 1}}. {{order['business']['name']}}</h1>
              <div style="display: inline-flex; align-content: center;">
                <div *ngIf="order['orderData']['hasMerch']" style="display: inline-flex; align-content: center;">
                  <!-- Payment Type -->
                  <div *ngIf="order['orderData']['paymentType'] === 'cod'" style="display: inherit;">
                    <p>COD</p>
                    <ion-icon name="cash-outline" size="small" style="padding: 0 0.35em 0 0.1em;"></ion-icon>
                  </div>
                  <!-- Boxes -->
                  <p>{{order['orderData']['hasMerch']['boxes']}}</p>
                  <ion-icon name="cube-outline" size="small" style="padding: 0 0.35em 0 0.1em;"
                  [color]="order['orderData']['hasMerch']['boxesLoaded'] ? 'success' : 'danger'"></ion-icon>
                  <!-- Valves -->
                  <div *ngIf="order['orderData']['hasMerch']['valves']" style="display: inherit;">
                    <p>{{order['orderData']['hasMerch']['valves']}}</p>
                    <ion-icon src="/assets/icons/coffee-bag.svg" size="small" style="padding: 0 0.1em;"
                    [color]="order['orderData']['hasMerch']['valvesReceived'] ? 'success' : 'danger'"></ion-icon>
                  </div>
                </div>
                <!-- Pick Ups -->
                <div *ngIf="order['orderData']['customerCare']">
                  <ion-icon name="document-outline" size="small" style="padding: 0 0.1em;"></ion-icon>
                </div>
                <!-- Posters -->
                <div *ngIf="order['orderData']['posters']">
                  <ion-icon name="mail-outline" size="small" style="padding: 0 0.1em;"></ion-icon>
                </div>
              </div>
            </ion-label>

            <!-- Order Status -->
            <div *ngIf="listMode === 'modify'">
              <div [ngSwitch]="order['metadata']['status']">
                <!-- Complete --><ion-icon *ngSwitchCase="'complete'" slot="end" name="checkmark-circle-outline" color="success" size="large">Complete</ion-icon>
                <!-- Pending --><ion-icon *ngSwitchCase="'pending'" slot="end" name="hourglass-outline" color="warning" size="large">Pending</ion-icon>
                <!-- Canceled --><ion-icon *ngSwitchDefault slot="end" name="close-circle-outline" color="danger" size="large">Canceled</ion-icon>
              </div>
            </div>

            <!-- The icon that makes everything draggable and orderable -->
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

          <!-- Order Contents Pane -->
          <div *ngIf="order['orderData']['hasMerch']">
            <div class="orderContents"
              [style.max-height]="showOrderContentsHeight[i] ? 'calc(100vh - 197px)' : '0px'"
              [style.display]="showOrderContentsDisplay[i] ? 'inherit' : 'none'"
              [ngSwitch]="order['metadata']['originType']">
              <div *ngSwitchCase="'manual'" style="padding: 8px 8px 0 8px;" [formGroup]="orderData">
                <ion-list (focusout)="orderDataChanged(i)">
                  <!-- Boxes -->
                  <ion-item lines="full">
                    <ion-label><b>Boxes</b></ion-label>

                    <div slot="end" style="display: inherit;">
                      <!-- Tally Up-->
                      <ion-icon (click)="tally('boxes', 'up')" name="chevron-up-circle-outline" class="tally-button" color="medium"></ion-icon>
                      <!-- Boxes Tally -->
                      <ion-input class="tally-value ion-text-center" formControlName="boxes" type="number" placeholder="0" readonly></ion-input>
                      <!-- Tally Down -->
                      <ion-icon (click)="tally('boxes', 'down')" name="chevron-down-circle-outline" class="tally-button" color="medium"></ion-icon>
                    </div>
                  </ion-item>

                  <!-- Boxes Loaded -->
                  <ion-item *ngIf="orderData.get('boxes').value > 0" class="ion-no-padding">
                    <ion-label class="ion-padding-start"><b>Boxes loaded</b></ion-label>
                    <ion-checkbox formControlName="boxesLoaded"></ion-checkbox>
                  </ion-item>
                  
                  <!-- Valves -->
                  <ion-item lines="full">
                    <ion-label><b>Valves</b></ion-label>
                    
                    <div slot="end" style="display: inherit;">
                      <!-- Tally Up-->
                      <ion-icon (click)="tally('valves', 'up')" name="chevron-up-circle-outline" class="tally-button" color="medium"></ion-icon>
                      <!-- Valves Tally -->
                      <ion-input class="tally-value ion-text-center" formControlName="valves" type="number" placeholder="0" readonly></ion-input>
                      <!-- Tally Down -->
                      <ion-icon (click)="tally('valves', 'down')" name="chevron-down-circle-outline" class="tally-button" color="medium"></ion-icon>
                    </div>
                  </ion-item>
                  
                  <!-- Valves Received -->
                  <ion-item *ngIf="orderData.get('valves').value > 0" class="ion-no-padding">
                    <ion-label class="ion-padding-start"><b>Valves received</b></ion-label>
                    <ion-checkbox formControlName="valvesReceived"></ion-checkbox>
                  </ion-item>

                  <!-- Invoice -->
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-label class="ion-padding-start"><b>Invoice received</b></ion-label>
                    <ion-checkbox formControlName="invoice"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </div>
              <div *ngSwitchCase="'served'">
                
              </div>
              <!-- TODO: Show add-on orders as a second order within order contents pane -->
            </div>
          </div>

          <!-- Delete Order -->
          <ion-item-options side="end">
            <ion-item-option (click)="deleteOrderEntry(i)" color="danger">
              <ion-icon name="trash-outline" size="large"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>
  </ion-card-content>
</ion-card>