<ion-card>
  <div #ordersMapContainer 
  [class]="listMode === 'navigate' ? 'mapContainerNavigate' : 'mapContainerDefault'">
    <div 
      id="ordersMap"
      [style.display]="isAPILoaded ? 'initial' : 'none'"
      [style.width]="ordersMapWidth + 'px'" [style.height]="ordersMapHeight + 'px'"
    ></div>
    <div *ngIf="!isAPILoaded" class="ion-align-self-center" class="spinner">
      <ion-spinner name="crescent" class="spinner"></ion-spinner>
      <p><b>Loading MapBox</b></p>
    </div>
  </div>
</ion-card>