div.mapContainerDefault {
    display: flex;
    height: calc(((100vw - 20px) / 4) * 3);
    background-color: #eee;
}

div.mapContainerNavigate {
    display: flex;
    height: calc(100vh - 76px);
    background-color: #eee;
}

ion-spinner.spinner {
    height: 25vw;
    width: 25vw;
    margin: auto;
    display: block;
}

div.spinner {
    margin: auto;
}