.md ion-input.tally-value {
    max-width: 2em;
    margin: 0 5px 0 -5px;
}

.ios ion-input.tally-value {
    max-width: 2em;
    margin: 0 -5px 0 5px;
}

ion-icon.tally-button {
    font-size: 2em;
}