<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Order Manual Entry</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismissModal()" name="close-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Page Contents -->
<ion-content>
  <ion-list>
    <form [formGroup]="business" autocomplete="off">
      <!-- Buisness Name -->
      <ion-item lines="full">
        <ion-label><b>Buisness Name</b></ion-label>
        <ion-input type="text" formControlName="name" placeholder="Example Coffee Co."></ion-input>
      </ion-item>
      <app-matching-businesses style="width: 100%;" [matches]="matchingBusinessesList" [hidden]="!(matchListLocation === 'name')" (selectedBusiness)="selectedBusinessFunc($event)"></app-matching-businesses>
      <!-- Buisness Location -->
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-start">
          <ion-row>
            <ion-col class="ion-no-padding ion-padding-top">
              <ion-label><b>Location</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="address" placeholder="Address Line 1"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="address2" placeholder="Address Line 2"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-input type="text" formControlName="state" placeholder="State" [maxlength]="2"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-input type="text" formControlName="zip" placeholder="Zip"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <app-matching-businesses style="width: 100%;" [matches]="matchingBusinessesList" [hidden]="!(matchListLocation === 'address')" (selectedBusiness)="selectedBusinessFunc($event)"></app-matching-businesses>
    </form>
    <form [formGroup]="orderData">
      <!-- Payment Type -->
      <ion-item class="ion-no-padding">
        <ion-label class="ion-padding-start"><b>Payment</b></ion-label>
        <ion-grid>
          <ion-segment class="ion-float-right" formControlName="paymentType" value="non-cod">
            <ion-segment-button value="non-cod">
              <ion-label>Non-COD</ion-label>
            </ion-segment-button>
            <ion-segment-button value="cod">
              <ion-label>COD</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-grid>
      </ion-item>
      <!-- Has merchandise -->
      <ion-item class="ion-no-padding">
        <ion-label class="ion-padding-start"><b>Has merchandise</b></ion-label>
        <ion-checkbox formControlName="hasMerch" (ngModelChange)="orderDataChanged()"></ion-checkbox>
      </ion-item>
      <div *ngIf="this.orderData.get('hasMerch').value && !modifyOrder" class="ion-padding-start">
        <!-- Valves Tally -->
        <ion-item lines="inset">
          <ion-label><b>Valves</b></ion-label>

          <div slot="end" style="display: inherit;">
            <!-- Tally Up-->
            <ion-icon (click)="tally('valves', 'up')" name="chevron-up-circle-outline" class="tally-button" color="medium"></ion-icon>
            <!-- Valves Tally -->
            <ion-input class="tally-value ion-text-center" formControlName="valves" type="number" placeholder="0" readonly></ion-input>
            <!-- Tally Down -->
            <ion-icon (click)="tally('valves', 'down')" name="chevron-down-circle-outline" class="tally-button" color="medium"></ion-icon>
          </div>
        </ion-item>
        <!-- Invoice -->
        <ion-item lines="inset">
          <ion-label><b>Invoice received</b></ion-label>
          <ion-checkbox formControlName="invoice" (ngModelChange)="orderDataChanged()"></ion-checkbox>
        </ion-item>
      </div>
      <!-- Pick Ups -->
      <ion-item class="ion-no-padding">
        <ion-label class="ion-padding-start"><b>Customer Care</b></ion-label>
        <ion-checkbox formControlName="customerCare" (ngModelChange)="orderDataChanged()"></ion-checkbox>
      </ion-item>
      <!-- Posters / Envelopes -->
      <ion-item class="ion-no-padding">
        <ion-label class="ion-padding-start"><b>Posters / Envelopes</b></ion-label>
        <ion-checkbox formControlName="posters" (ngModelChange)="orderDataChanged()"></ion-checkbox>
      </ion-item>
      <!-- TODO: Add comments section -->
    </form>
  </ion-list>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-note ><small style="text-align: center; width: 100vw;">This is intended to be a development feature only. It may get removed.</small></ion-note>
        <!-- Button: Continue -->
        <ion-button (click)="submitOrder()" style="min-width: 50vw;" type="submit">
          {{submitButtonText}}
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>