:host {
    --ion-background-color: var(--app-background-color);
    --ion-toolbar-background: #ffffff33;
    --ion-text-color: #202020;
    --ion-color-light: #f4f5f8;

    --app-logo-width: 60vw;

    --app-business-name-width: 50vw;
    --app-business-name-start: 20vh;
    --app-business-name-end: calc(100vh 
        /* Logo top margin */
            - (var(--app-logo-width) - ((var(--app-logo-width) * (80/119)) / 2))
        /* Logo height */
            - (var(--app-logo-width) * (80/119))
        /* Business name height */
            - (var(--app-business-name-width) * (50/195))
        /* Margin between logo and business name */
            - 5vw
        );
}

/* TODO: Find a better, more reliable of hiding the graphics when screen size is to small */
$autoHideHeight: 150vw;

img.logo {
    position: fixed;
    width: var(--app-logo-width);
    top: calc(var(--app-logo-width) - ((var(--app-logo-width) * (80/119)) / 2));
    transition: opacity 1s;

    @media only screen and (max-height: $autoHideHeight) {
        opacity: 0;
        height: 0;
    }
}

img.business-name {
    position: fixed;
    transition: bottom 1.5s cubic-bezier(0.4, 0, 0.22, 1.01);
    width: 50vw; 
    bottom: var(--app-business-name-start);
    transition: opacity 1s;

    @media only screen and (max-height: $autoHideHeight) {
        opacity: 0;
        height: 0;
    }
}

div.app-container {
    display: flex; 
    flex-flow: column;
    min-height: calc(100vh - 64px);
}

div.app-graphics {
    display: flex;
    width: 100%;
}

div.app-status {
    position: fixed;
    top: 50vh;

    display: flex;
    flex-flow: column;
    align-items: center;
}

div.app-status > ion-spinner {
    --color: #fff;
    width: 15vw!important;
    height: 15vh!important;
}

div.app-status > ion-text > h1, h2, h3, h4, h5, h6 {
    margin-top: -16px;
}

div.app-user-interface {
    display: flex;
    width: 100%;
}

a.app-password-visibility {
    display: flex;
    min-height: -webkit-fill-available;
    align-items: center;
}

ion-icon.show-option, ion-icon.hide-option {
    display: block;
    font-size: 1.6rem;
}

ion-item {
    --background: #ffffff;
}

ion-item > ion-label {
    --color: var(--ion-text-color);
}

ion-item.app-use-biometrics {
    --background: transparent;
    --border-color: transparent;

    --min-height: 40px;

    margin-top: -15px;

    justify-self: center;
}

.app-biometrics-icon {
    justify-self: center;
}

.app-use-biometrics > ion-checkbox {
    --background: #ffffff;
    --checkmark-color: var(--ion-text-color, #202020);
}

.app-use-biometrics > ion-label {
    color: var(--ion-color-light, #f4f5f8);
}

ion-button.app-login-button {
    /*Text color ... logical*/
    --ion-toolbar-background: var(--ion-color-light, #f4f5f8);
}