<!-- Page Contents-->
<ion-content fullscreen style="background: var(--app-background)!;">
  <div class="ion-justify-content-center ion-align-items-center">
    <!-- Graphics -->
    <div class="app-graphics ion-justify-content-center ion-align-items-center">
      
      <img src="/assets/logo.png" class="logo">
      
      <div *ngIf="isSpinnerVisible" class="app-status">
        <ion-spinner *ngIf="isSpinnerVisible" name="crescent"></ion-spinner>
        <ion-text color="light">
          <h4>{{statusText}}</h4>
        </ion-text>
      </div>
      
      <img src="/assets/business_name.png" class="business-name"
        [style.bottom]="isAppLoaded ? 'var(--app-business-name-end)' : 'var(--app-business-name-start)'"
        [style.transition]="isInputsVisible ? 'bottom 0s' : 'bottom 1.5s cubic-bezier(0.4, 0, 0.22, 1.01)'">
    </div>

    <!-- User Interface components -->
    <div *ngIf="isInputsVisible" class="app-user-interface ion-justify-content-center ion-align-items-center">
      <div style="position: fixed; bottom: 15vh;">
        <ion-text color="light" *ngIf="isPassConfirmVisible">
          <h2 class="ion-text-center"><b>User Registration</b></h2>
        </ion-text>

        <form [formGroup]="loginForm" style="display: grid;">
          <ion-card>
            <!-- Input: Employee ID -->
            <ion-item>
              <ion-label position="floating"><b>Employee ID:</b></ion-label>
              <ion-input required formControlName="employeeID" type="text" inputmode="numeric"
                (ionBlur)="isEmployeeIDValid($event)" (ionChange)="isEmployeeIDValid($event)"
                (keyup.enter)="isEmployeeIDValid($event)"></ion-input>
            </ion-item>
          </ion-card>

          <!-- Button: Biometric login -->
          <ion-icon *ngIf="useBiometricLogin" 
            name="finger-print-outline" color="light" size="large" class="app-biometrics-icon ion-padding"
            (click)="showBiometricLogin()"></ion-icon>

          <ion-card *ngIf="!useBiometricLogin">
            <!-- Input: Password -->
            <ion-item *ngIf="isPasswordVisible">
              <ion-label position="floating"><b>Password:</b></ion-label>
              <ion-input required #inputPassword formControlName="password" type="password" 
              (keyup.enter)="isPassConfirmVisible ? inputConfirmPassword.setFocus() : logIn()"></ion-input>
              <a slot="end" class="app-password-visibility" (click)="togglePasswordVisibility()">
                <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
              </a>
            </ion-item>
            <!-- Input: Confirm Password -->
            <ion-item *ngIf="isPassConfirmVisible">
              <ion-label position="floating"><b>Confirm Password:</b></ion-label>
              <ion-input required #inputConfirmPassword formControlName="confirmPassword" type="password"
              (keyup.enter)="logIn()"></ion-input>
            </ion-item>
          </ion-card>
          <!-- Checkbox: Biometric login -->
          <ion-item *ngIf="isPasswordVisible" class="app-use-biometrics">
            <ion-label color="light">Use biometric login</ion-label>
            <ion-checkbox slot="start" formControlName="useBiometrics" color="light"></ion-checkbox>
          </ion-item>
        </form>
      </div>
    </div>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar *ngIf="isInputsVisible">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-justify-content-center" style="display: flex;">
          <!-- Button: Login -->
          <ion-button class="app-login-button" (click)="buttonHandler()" type="submit">
            {{buttonActionText[buttonActionIndex]}}
            <ion-icon *ngIf="buttonActionIndex === 0" slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>