<ion-app>
  <ion-menu side="start" menu-id="appMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <!-- Page: Delivery -->
          <ion-item [routerDirection]="'root'" routerLink="/delivery">
            <ion-icon slot="start" name="car-outline"></ion-icon>
            <ion-label>Delivery</ion-label>
          </ion-item>

          <!-- Modal: Feedback -->
          <ion-item (click)="openModal('/feedback')">
            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
            <ion-label>Feedback</ion-label>
          </ion-item>

          <!-- Modal: Settings -->
          <ion-item (click)="openModal('/settings')">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet #screen id="main">
    <h1>Hello world! ^-^</h1>
  </ion-router-outlet>
  <!-- FIXME: You'll have to check padding everywhere for iOS -->
  <!-- Find or create CSS to treat more components the same 
    as ion-item's default supported components -->
  
  <!-- UI: Dark-Mode needs to be prettified -->
  <!-- UI: Try to use system default colors -->
</ion-app>
