<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>

<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Page Contents -->
<ion-content fullscreen>
  <form [formGroup]="appSettingsGroup">
    <!-- User Interface -->
    <ion-item-group formGroupName="userInterface">
      <ion-item-divider>
        <ion-label><h2><b>User Interface</b></h2></ion-label>
      </ion-item-divider>
    
      <!-- Theme -->
      <ion-item lines="none">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-label class="ion-padding-top">Theme</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-segment formControlName="theme"
              (ionChange)="uiThemeChange($event)">
                <ion-segment-button value="system" [disabled]="true">
                  <ion-label>Default</ion-label>
                </ion-segment-button>
                <ion-segment-button value="light">
                  <ion-label>Light</ion-label>
                </ion-segment-button>
                <ion-segment-button value="dark" [disabled]="true">
                  <ion-label>Dark</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>

    <!-- Map Settings -->
    <ion-item-group formGroupName="mapSettings">
      <ion-item-divider>
        <ion-label><h2><b>Map Settings</b></h2></ion-label>
      </ion-item-divider>
    
      <!-- Map Caching-->
      <ion-item lines="inset">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-label class="ion-padding-top">Map Caching</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-range class="ion-no-padding ion-padding-horizontal"
              min="0" max="100"
              dualKnobs="false" pin="true"
              snaps="true" step="5"
              ticks="true"
              color="primary"
              formControlName="caching"
              [disabled]="true">
            </ion-range>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- Map Rending-->
      <ion-item formGroupName="rendering">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-label class="ion-padding-top">Map Rendering</ion-label>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <!-- 2D | 3D -->
                  <ion-segment formControlName="dimensions">
                    <ion-segment-button value="2">
                      <ion-label>2D</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="3" [disabled]="true">
                      <ion-label>3D</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <!-- Default | Satellite -->
                  <ion-segment formControlName="terrainType">
                    <ion-segment-button value="default">
                      <ion-label>Default</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="satellite">
                      <ion-label>Satellite</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
      <!-- Show Traffic -->
      <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-no-padding" size="6">
              <ion-label class="ion-margin-vertical">Show traffic</ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-justify-content-end" style="display: flex;" size="6">
              <ion-toggle class="ion-align-self-center" formControlName="showTraffic"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- Optimize Route -->
      <ion-item lines="none">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-no-padding" size="6">
              <ion-label class="ion-margin-vertical">Optimize Route</ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-justify-content-end" style="display: flex;" size="6">
              <ion-toggle class="ion-align-self-center" formControlName="optimizeRoute" [disabled]="true"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-justify-content-center" style="display: flex;">
          <!-- Button: Revert Changes -->
          <ion-button (click)="revertChanges()" type="reset">
            Revert Changes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>