<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Page Contents -->
<ion-content>
  <ion-item>
    <ion-label position="stacked">I would like to:</ion-label>
    <ion-select [formControl]="messageType" interface="popover" placeholder="Select One">
      <ion-select-option value="suggestion">Offer a suggestion(s)</ion-select-option>
      <ion-select-option value="problem">Report a problem</ion-select-option>
      <ion-select-option value="message">Send you a message! 😝</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="messageType.value === 'suggestion'">
    <ion-label position="stacked">About:</ion-label>
    <ion-select [formControl]="suggestionType" interface="popover" placeholder="Select One">
      <ion-select-option value="login">Login Page</ion-select-option>
      <ion-select-option value="orders">Order Processing</ion-select-option>
      <ion-select-option value="routing">Routing</ion-select-option>
      <ion-select-option value="navigation">Navigation</ion-select-option>
      <ion-select-option value="settings">Settings Page</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Message</ion-label>
    <ion-textarea style="height: 20vh; min-height: 2cm;" autoGrow [formControl]="messageContent" placeholder="Your input goes here"></ion-textarea>
  </ion-item>
  <!-- TODO: Give user's option to record their message -->
  <!-- TODO: Implement screen capturing -->
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <!-- Button: Submit -->
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="submitFeedback()" style="min-width: 50vw;" type="submit"
        [disabled]="!messageType.value && !messageContent.value">
          Submit
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>