div.completionPage {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

div.completionPage > canvas {
    position: absolute;
    z-index: -100;
    bottom: 4px;

    width: 100vw;
    height: 100%;
}

div.completionPage > div {
    margin: 0 auto;
}