<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Page Contents -->
<ion-content fullscreen>
  <div 
    *ngIf="listMode === 'completion'"
    class="completionPage">
    <canvas #confettiCanvas>
    </canvas>
    <div class="ion-padding-horizontal"style="padding-top: 69px;">
      <h1>
        Congratulations!
      </h1>
      <h4> 
        You've finished your route for the day.
      </h4>
    </div>
  </div>
  <app-mapbox
    *ngIf="listMode !== 'completion'"
    [orders]="ordersList" 
    (ordersChange)="syncOrdersList($event)" 
    [navigationData]="navigationData"
    (navDataChange)="syncNavigationData($event)"
    [listMode]="listMode"
    (listModeChange)="syncListMode($event)">
  </app-mapbox>
  <app-navigation-card
    *ngIf="listMode === 'reorder' || listMode === 'navigate'"
    [orders]="ordersList"
    (ordersChange)="syncOrdersList($event)"
    [navigationData]="navigationData"
    (navDataChange)="syncNavigationData($event)"
    listMode="{{listMode}}">
  </app-navigation-card>
  <app-orders-card
    *ngIf="listMode === 'modify' || listMode === 'reorder'"
    [orders]="ordersList"
    (ordersChange)="syncOrdersList($event)"
    listMode="{{listMode}}">
  </app-orders-card>
</ion-content>

<!-- Footer -->
<ion-footer
  [style.height]="isFooterHidden ? '0px' : 'auto'">
  <ion-toolbar>
    <ion-grid>
      <ion-row *ngIf="listMode === 'modify'">
        <ion-col size="12" class="ion-justify-content-center" style="display: flex;">
          <!-- Button: Manual Entry -->
          <ion-button type="button" fill="outline" (click)="openModalManualEntry()">
            Manual Entry
          </ion-button>
          <!-- Button: Routing -->
          <ion-button type="button" (click)="continueToRouting()"  disabled="{{routingDisabled}}">
            Routing <ion-icon name="analytics-outline" style="padding-left: 0.25em;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="listMode === 'reorder'">
        <ion-col size="12" class="ion-justify-content-center" style="display: flex;">
          <!-- Button: Back -->
          <ion-button type="button" fill="outline" (click)="returnToOrderEntry()">
            <ion-icon name="caret-back-outline"></ion-icon> Back
          </ion-button>
          <!-- Button: Navigation -->
          <ion-button type="button" (click)="startNavigation()">
            Start <ion-icon name="navigate-outline" style="padding-left: 0.25em;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>